<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6 text-center mb-4">
			<h2 class="heading-section">Reqres Users</h2>
		</div>
	</div>
	<div id="users-table">
		<div class="float-right">
			<%= form_with url: search_path, method: :post do |form| %>
				<%= form.search_field :search, oninput: "this.form.requestSubmit()" %>
			<% end %>
		</div>
		<div class="col-md-12">
			<h3 class="h5 mb-4 text-center">All Users</h3>
			<div class="table-wrap">
				<table class="table">
					<thead class="thead-primary">
						<tr>
							<th>&nbsp;</th>
							<th>Email</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<%= render 'users/list', collection: @collection %>
				</table>
			</div>
			<%= render 'shared/pagination', collection: @collection %>
		</div>
	</div>
</div>
